<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_link') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('_nav') %>
    <%- include('search') %>

    <%- include('_script') %>
</body>
</html>